@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --docs-navbar-height: 65px;
}

.prose ul {
  margin-top: 0.5em !important;
  margin-bottom: 0;
}

.prose ul > li {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* .prose p {
  margin-bottom: 1.25rem;
} */

/* With fixed header, add spacing so scroll goes to anchor link heading. */
html {
  scroll-padding-top: var(--docs-navbar-height);
}
